<div *ngIf="isOpen" class="fixed top-0 left-0 bg-zinc-900/50 w-screen p-4 h-screen flex items-center justify-center">

    <div class="w-full max-w-md bg-zinc-50 rounded">

        <div class="border-b border-zinc-300 px-4 py-2 flex items-center justify-between">
            <h5 class="text-sm font-thin text-zinc-700">{{ subject.category.title }}</h5>
            <button class="text-sm font-thin text-zinc-700" (click)="closeModal()">x</button>
        </div>

        <div class="px-4 py-4 flex flex-col gap-2 items-start">
            <h3 class="text-xl font-bold text-zinc-900 w-full">{{ subject.title }}</h3>
            <p class="max-h-64 overflow-y-scroll overflow-x-hidden">{{ subject.description }}</p>

            <h4 class="text-zinc-900 font-bold">Qual sua opinião, você concoda?</h4>

            <form class="w-full flex flex-col gap-2" [formGroup]="voteForm" (submit)="onSubmit()">
                <div class="grid grid-cols-2 gap-2">
                    <input type="radio" id="sim" class="hidden" value="YES" formControlName="vote">
                    <label for="sim"
                        class="flex items-center justify-center p-3 text-zinc-50 rounded bg-green-500 w-full cursor-pointer">
                        Sim
                    </label>

                    <input type="radio" id="nao" class="hidden" value="NO" formControlName="vote">
                    <label for="nao"
                        class="flex items-center justify-center p-3 text-zinc-50 rounded bg-red-500 w-full cursor-pointer">
                        Não
                    </label>
                </div>

                <div *ngIf="voteForm.get('vote')?.value">

                    <app-button [label]="'Votar'" [type]="'submit'" />
                    <span class="text-sm font-thin text-red-500">* depois de votar, você não poderá
                        mudar sua
                        opinião.</span>
                </div>
            </form>

            <span class="text-sm font-thin text-zinc-700 w-full text-center">Tempo restante: {{ timeDisplay }}</span>

        </div>
    </div>
</div>



<button type="button" [disabled]="timeIsEnding"
    class="w-full bg-zinc-800 text-zinc-100 p-2 rounded md:w-fit disabled:bg-zinc-600"
    (click)="openModal()">Participar</button>