<div class="bg-zinc-50 rounded flex flex-col ">
    <div class="border-b border-zinc-300 px-4 py-2 flex items-center justify-between">
        <h5 class="text-sm font-thin text-zinc-700">{{ subject.category.title }}</h5>
        <span class="text-sm font-thin text-zinc-700">{{ timeDisplay }}</span>
    </div>

    <div class="px-4 py-4 flex flex-col gap-4 items-center justify-between md:flex-row  ">
        <h3 class="text-xl font-bold text-zinc-900 w-100">{{ subject.title }}</h3>

        <div class="flex gap-2 items-center w-full md:w-min text-center">
            <span *ngIf="isVoted" class=" text-zinc-50 bg-zinc-800 p-2 rounded text-nowrap">R: {{
                subject.votes[0].type == 'YES'
                ? 'Sim' :
                'Não'
                }}</span>

            <a [routerLink]="['/vote', subject.id]"
                class="w-full bg-zinc-800 text-zinc-100 p-2 rounded md:w-fit disabled:bg-zinc-600 text-nowrap">{{
                isVoted || timeIsEnding ? 'Ver resultados' : 'Votar'
                }}</a>

        </div>


    </div>
</div>